@import url('https://fonts.googleapis.com/css2?family=Chela+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    padding: 0px;
    margin: 0px;
    list-style: none;
    box-sizing: border-box;
    font-size: 12px;
    color: rgb(255, 255, 255);
}

@media screen and (max-width: 1200px) {
    div#wrapSkills {
        width: 90%;
    }
    div#divDetalles {
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 576px) {
    div#divKnops {
        width: 90%;
        flex-direction: column;
    }
    div#divKnops>div:nth-child(1)>#knop2 {
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 440px) {
    div#wrapSkills {
        width: 95%;
    }
    div#divDetalles {
        width: 100%;
    }
    div#divKnops {
        width: 100%;
    }
}

@media screen and (max-width: 378px) {
    h1#tituloDetalles {
        font-size: 2rem;
        text-align: center;
    }
}

#wrapSkills {
    /* border: 1px solid gray; */
    margin: 0 auto;
    width: 70%;
    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

#divDetalles {
    /* border: 1px solid green; */
    width: 80%;
    padding: 20px;
}

#tituloDetalles {
    font-size: 3rem;
    font-family: 'Chela One', cursive;
    color: rgb(240, 35, 136);
    width: 100%;
    text-align: center;
    line-height: 1.6;
}

#divTxtDetalles>p {
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    text-align: justify;
    line-height: 1.6;
    color: rgb(223, 223, 223);
}

#divKnops {
    /* border: 1px solid blue; */
    width: 100%;
    /* height: 200px; */
    min-height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 50px;
}

#divKnops>div {
    /* border: 1px solid purple; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: auto;
}

#divKnops>div>h3 {
    font-size: 1.3rem;
    font-family: 'Poppins', sans-serif;
}