@import url('https://fonts.googleapis.com/css2?family=Chela+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    padding: 0px;
    margin: 0px;
    list-style: none;
    box-sizing: border-box;
    font-size: 12px;
    color: rgb(255, 255, 255);
}