<div id="wrapAbout" #wrapAbout style="margin-bottom: 50px;">
    <div class="divDetalles animate__animated animate__fadeInLeft" #about>
        <h1 id="tituloDetalles" #tituloDetalles></h1>
        <div id="divTxtDetalles">
            <p class="txtDetalles">Somos un startup creada para ayudar a darle forma a sus ideas y proyectos.
                <br />Nuestro enfoque es brindar nuestros conocimientos y experiencia en el ámbito del desarrollo:
            </p>
            <ul id="ulDetalles">
                <li><i class="fas fa-laptop"></i> Escritorio</li>
                <li><i class="fas fa-globe-americas"></i> Web</li>
                <li><i class="fas fa-mobile-alt"></i> Móvil</li>
            </ul>
            <p class="txtDetalles">Para de esta forma lograr juntos el resultado esperado. <br />En roserodev nos
                importa brindarle soluciones a nuestros clientes, razón por la cual nos enfocamos en su marca y
                necesidad,
                proporciando un desarrollo a la medida, centrandonos en los detalles; para que los usuarios puedan
                obtener
                la mayor experiencia posible.</p>
            <p class="txtDetalles" routerLink="/contact">Si tiene una idea y desea hacerla realidad, no dude en <span
                    id="txtContacto">contactarnos.</span></p>
        </div>
    </div>
    <div class="divDetalles animate__animated animate__fadeInRight" id="detalles" #detalles>
    </div>
</div>
<!-- <a href="" target="_"></a> -->