@import url('https://fonts.googleapis.com/css2?family=Chela+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    padding: 0px;
    margin: 0px;
    list-style: none;
    box-sizing: border-box;
    font-size: 12px;
    color: rgb(255, 255, 255);
}

i {
    font-size: 1rem;
    width: 25px;
    color: rgb(223, 223, 223);
}

#wrapAbout {
    /* border: 5px solid green; */
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100vh;
    overflow: auto;
}

.divDetalles {
    /* border: 1px solid red; */
    padding: 45px;
    width: 700px;
    min-height: 300px;
    /* overflow: hidden; */
}

#divTxtDetalles {
    margin-left: 15px;
    margin-top: 10px;
}

#tituloDetalles {
    font-size: 3rem;
    font-family: 'Chela One', cursive;
    /* font-weight: 900; */
    color: rgb(240, 35, 136);
    /* color: rgb(22, 70, 0); */
}

#ulDetalles>li {
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    margin-left: 10px;
    /* cursor: pointer; */
    width: 150px;
    color: rgb(223, 223, 223);
}

#ulDetalles>li:hover {
    color: rgb(240, 35, 136);
}

.txtDetalles {
    font-size: 1rem;
    text-align: justify;
    line-height: 1.5;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    color: rgb(223, 223, 223);
}

#txtContacto {
    color: rgb(240, 35, 136);
    /* cursor: pointer; */
    font-size: 1rem;
}
#txtContacto:hover {
    color: rgb(156, 0, 78);
}

#detalles {
    /* border: 1px solid green; */
    /* background-color: blue; */
    padding: 0px;
    width: 693px;
    height: 693px;
    margin-right: 50px;
    flex-shrink: 0;
}